.btn {
  border-radius: 4px;
  border: none;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  gap: 8px;

  &-sm {
    width: fit-content;
  }

  &.primary {
    background-color: $primary;
    color: white;
  }

  &.danger {
    background-color: $danger;
    color: white;
  }
  &.chip{
    background-color: $light-green;
    border-radius: 20px;
    width: fit-content;
  }
  .badge{
    &-green{
      background-color: $primary;
    }
  }
}