.orders-chips{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}

.invoices-list {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: $spacing;

  .invoice {
    border: solid 2px $border-color;
    border-radius: 8px;
    padding: $spacing;

    .details {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: 40px;
      justify-content: space-between;
      font-size: 14px;

      .number {
        display: flex;
        flex-direction: row;
        flex: .3;
      }

      .amount {
        flex: .4;
        display: flex;
        flex-direction: row;
      }
      .payment-type{
        width: 23%;
      }

      label {
        color: $dark-grey;
        text-transform: uppercase;
      }
      .controls{
        flex: .2;
      }

      label:after {
        content: ":";
        margin-right: 6px;
        margin-left: 6px;
      }

      .date-status {
        display: flex;

        flex-direction: column;
        gap: 12px;

        .contract-date {
          display: flex;
          gap: 12px;
        }

        .status {
          height: 6px;
          width: 100%;
          background-color: $light-grey;
          border-radius: 4px;

          .progress {
            height: inherit;
            background-color: $primary;
          }
        }
      }
    }
  }
}
