.backoffice-logo{
  width: $side-nav-width;
  height: $top-nav-height;
  color: $primary;
  font-weight: 600;
  font-size: 20px;
  margin-left: $side-nav-left-margin;
  display: flex;
  align-items: center;

  .logo-title{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    .title{
      margin-left: 16px;
    }
  }
  .line{
    position: absolute;
    height: 2px;
    width: calc(.7* $side-nav-width);
    background-color: $border-color;
    top: 80px;
  }

}