.backoffice-logo{
  width: 100%;
  height: $top-nav-height;
  color: $primary;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;

  .logo-title{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
    .title{
      margin-left: 16px;
    }
  }
  .line{
    height: 2px;
    width: inherit;
    background-color: $border-color;
  }

}