.main-component {
  height: 100%;

  .row {
    height: 100%;

    > div{
      height: inherit;
    }

    .router-outlet {
      height: calc(100% - $top-nav-height);
      background-color: white;
      overflow-y: auto;
      .something {
        height: 1200px;
      }
    }
  }
}