.main-component {
  height: 100%;

  .row {
    height: 100%;
    overflow-y: hidden;

    > div {
      height: inherit;
    }

    .col-10 {
      .router-outlet{
        height: inherit;
        overflow-y: scroll;
        background-color: white;
      }
    }
  }
}
.primary-text{
  color: $primary;
}
