.attributes, .capital {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.relations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: calc($spacing * 2);

  mb-inventory-orders {
    width: 100%;
  }

}

.details {
  &-page {
    display: flex;
    flex-direction: column;
    gap: $spacing;

    .attributes {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      gap: calc(2 * $spacing);

      > div, > mb-input-drop-down {
        width: $input-width;
      }
    }

    &.category {
      .inventory {
        width: 50%;
      }
    }
  }

  &-cart, &-contract {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: solid 2px $border-color;

    .title-cartbtn {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .content {
      &-top, &-middle, &-bottom {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;
        gap: calc(2 * $spacing);

        > div, > mb-input-drop-down {
          width: $input-width;
        }
      }

      &-bottom {
        justify-content: flex-end;
      }
    }
  }

  &-report {
    height: 100vh;
    overflow-y: hidden;

    .head {
      position: sticky;
      z-index: 1000;
      display: flex;
      flex-direction: row;
      background-color: white;
      align-items: flex-end;
      padding-left: $spacing;
      padding-bottom: 2px;
      height: 40px;
    }

    .report {
      overflow-y: auto;
      height: calc(100% - 40px);
    }
  }
}
