.attributes, .capital {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.relations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: calc($spacing * 2);
}

.details-page, .details-cart{
  display: flex;
  flex-direction: column;
  gap: $spacing;

  .attributes {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    gap: calc(2 * $spacing);

    > div , > mb-input-drop-down{
      width: $input-width;
    }
  }

  &.category {
    .inventory {
      width: 280px;
    }
  }
}
