.mb-title {
  height: 40px;
  width: fit-content;
  border-bottom: solid 3px $primary;
  font-size: 14px;
  color: $primary;
  font-weight: 500;
  padding-bottom: 8px;
  text-transform: uppercase;

  &-tab {
    padding-bottom: 8px;
    &.active,&:hover{
      border-bottom: solid 3px $primary;
      border-radius: 0;
    }
  }
}

