$primary: #048A01E5;
$light-green: rgba(4, 138, 1, 0.32);;
$light-grey: #D3D6DA;
$dark-grey: #c2c2c2;
$font-color:#4B4B4B;
$bg-color: #F8F9FA;

$side-nav-width: 260px;
$side-nav-left-margin:30px;
$top-nav-height: 80px;

