$primary: #61B297FF;
$light-green: rgba(165, 222, 201, 0.89);
$red: #E34A4A;
$light-grey: #D3D6DA;
$dark-grey: #c2c2c2;
$font-color: #4B4B4B;
$bg-color: #F8F9FA;
$pink: rgba(227, 74, 74, 0.5);
$spacing: 20px;

$content-left-width: 260px;
$side-nav-left-margin: 30px;
$top-nav-height: 80px;
$table-border-width: 2px;
$input-width : 240px;


