<div class="details-cart">
    <mb-expand-shrink title="inventory.order.title" [creating]="creating"></mb-expand-shrink>
    <form (ngSubmit)="orderPlaced()" [formGroup]="inventoryOrderForm" [ngClass]="(creating | async) ? '': 'hidden'">
        <div class="content-top">
            <div class="relative flex flex-col">
                <label for="date" class="text-gray-600 text-xs font-medium mb-[6px]">{{'label.order.date'| translate}}*</label>
                <input id="date" type="date" formControlName="orderDate" class="input-date" min="2021-01-01" required>
            </div>
            <mb-input-drop-down
                    [relatedItem]="{name: 'orderType', parentPage: 'orderType'}"
                    [$items]="$orderTypes"
                    [formDetails]="orderTypeForm"
            ></mb-input-drop-down>
            <mb-input-drop-down *ngIf="orderTypeCodeControl.getRawValue() == soldType"
                                [relatedItem]="{name: 'client', parentPage: 'clients'}"
                                [$items]="$clients"
                                [formDetails]="clientForm"
            ></mb-input-drop-down>
        </div>

        <div class="content-middle">

            <div class="relative flex flex-col">
                <label for="name" class="text-gray-600 text-xs font-medium mb-[6px]" translate>label.name</label>
                <input id="name" formControlName="itemName" type="text" class="input-text"
                       placeholder="{{'label.name' | translate}}"/>
            </div>

            <div class="relative flex flex-col">
                <label for="quantity" class="text-gray-600 text-xs font-medium mb-[6px]">{{'label.quantity'| translate}}*</label>
                <input id="quantity" formControlName="quantity" type="number" class="input-text"
                       placeholder="{{'label.quantity' | translate}}" min="1"/>
            </div>

            <div class="relative flex flex-col">
                <label for="cost" class="text-gray-600 text-xs font-medium mb-[6px]">{{'label.cost'| translate}}*</label>
                <input id="cost" formControlName="cost" type="number" class="input-text"
                       placeholder="{{'label.cost' | translate}}" min="0"/>
            </div>

        </div>
        <div class="content-bottom">
            <button class="bg-primary text-white rounded h-[26px] flex items-center justify-center text-xs font-bold gap-2 px-2" type="submit" translate>label.order.place</button>
        </div>
    </form>
</div>
