<div class="details-page inventory" *ngIf="($inventory | async) || {} as inventory">
    <div class="attributes">
        <span class="mb-title" translate>label.details</span>
        <form class="attributes d-flex flex-wrap" [formGroup]="itemForm">
            <div class="input-grp">
                <label for="code" class="" translate>label.code</label>
                <input id="code" formControlName="code" type="text" class="input-text"
                       placeholder="{{'label.code' | translate}}"/>
            </div>
            <div class="input-grp">
                <label for="name" class="" translate>label.name</label>
                <input id="name" formControlName="name" type="text" class="input-text"
                       placeholder="{{'label.name' | translate}}"/>
            </div>
            <div class="input-grp" formGroupName="category">
                <label for="category" class="" translate>label.category.name</label>
                <input id="category" formControlName="name" type="text" class="input-text"
                       placeholder="{{'label.category.name' | translate}}"
                       (focus)="onFocus()" (focusout)="onUnFocus()"/>
                <div class="down" *ngIf="$showCategoryDrop | async" >
                    <ng-container *ngIf="($categorySearchResults |async)||($categories |async) as categories else empty">
                        <table class="table" *ngIf="categories.length > 0 else empty">
                            <tbody>
                            <tr *ngFor="let category of categories" (click)="changeCategory(category)">
                                <td>{{category.name}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </ng-container>
                    <ng-template translate #empty>
                        <div class="d-flex flex-row justify-content-between align-items-center primary-text">
                            <span translate>label.category.empty</span>
                            <a class="btn primary btn-sm" [routerLink]="['categories','new']">Add Facility</a>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="input-grp">
                <label for="quantity" class="" translate>label.quantity</label>
                <input id="quantity" formControlName="quantity" type="number" class="input-text"
                       placeholder="{{'label.quantity' | translate}}"/>
            </div>
            <div class="input-grp">
                <label for="cost" class="" translate>label.cost</label>
                <input id="cost" formControlName="cost" type="number" class="input-text"
                       placeholder="{{'label.cost.latest' | translate}}"/>
            </div>
        </form>
    </div>
</div>
