<div class="details-cart">
    <mb-expand-shrink title="inventory.order.title" [creating]="creating"></mb-expand-shrink>
    <form (ngSubmit)="orderPlaced()" [formGroup]="inventoryOrderForm" [ngClass]="(creating | async) ? '': 'd-none'">
        <div class="content-top">
            <div class="input-grp">
                <label for="date" class="">{{'label.order.date'| translate}}*</label>
                <input id="date" type="date" formControlName="orderDate" class="input-date" min="2021-01-01" required>
            </div>
            <mb-input-drop-down
                    [relatedItem]="{name: 'orderType', parentPage: 'orderType'}"
                    [$items]="$orderTypes"
                    [formDetails]="orderTypeForm"
            ></mb-input-drop-down>
            <mb-input-drop-down *ngIf="orderTypeCodeControl.getRawValue() == soldType"
                                [relatedItem]="{name: 'client', parentPage: 'clients'}"
                                [$items]="$clients"
                                [formDetails]="clientForm"
            ></mb-input-drop-down>
        </div>

        <div class="content-middle">

            <div class="input-grp">
                <label for="name" class="" translate>label.name</label>
                <input id="name" formControlName="itemName" type="text" class="input-text"
                       placeholder="{{'label.name' | translate}}"/>
            </div>

            <div class="input-grp">
                <label for="quantity" class="">{{'label.quantity'| translate}}*</label>
                <input id="quantity" formControlName="quantity" type="number" class="input-text"
                       placeholder="{{'label.quantity' | translate}}" min="1"/>
            </div>

            <div class="input-grp">
                <label for="cost" class="">{{'label.cost'| translate}}*</label>
                <input id="cost" formControlName="cost" type="number" class="input-text"
                       placeholder="{{'label.cost' | translate}}" min="0"/>
            </div>

        </div>
        <div class="content-bottom">
            <button class="btn primary" type="submit" translate>label.order.place</button>
        </div>
    </form>
</div>
