@import "../node_modules/bootstrap/scss/bootstrap";
@import "style/backoffice";
html, body {
  height: 100% !important;
  width: 100% !important;
  background-color: $bg-color;
  color: $font-color;
}