<mb-relation *ngIf="($withCreatedOrder | async) || ($refreshedOrders | async) || ($orders | async) as inventoryOrders" title="inventory.orders"
             [heads]="orderHeads">
    <tr *ngFor="let order of inventoryOrders">
        <th scope="row">
            <input class="primary" type="checkbox" (click)="addOrder(order)" [checked]="isSelected(order)">
        </th>
        <td>{{order.orderDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{order.orderNumber}}</td>
        <td *ngIf="clientPage">{{order.itemName}}</td>
        <td *ngIf="!clientPage">{{order.clientName}}</td>
        <td>{{order.cost}}</td>
        <td>{{order.quantity}}</td>
        <td>
            <div class="d-flex flex-row justify-content-between align-items-center">
                {{order.quantity * order.cost | currency : '':'':'1.0-0'}} FBU
                <div class="mb-icon mb-icon-green tick" *ngIf="order.paid"></div>
            </div>
        </td>
    </tr>
    <tr class="total">
        <td>{{'total' | uppercase}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{inventoryOrders | calcTotal : 'quantity'}}</td>
        <td>{{inventoryOrders | calcTotalCost | currency : '':'':'1.0-0'}} FBU</td>
    </tr>
</mb-relation>