<div class="orders" colspan="all" *ngIf="($refreshedOrders | async) || ($orders | async) as orders">
    <mb-relation title="orders" [heads]="clientPage ? orderHeads : orderHeads.slice(1)">
        <tr *ngFor="let order of orders ">
            <th *ngIf="clientPage" scope="row">
                <input class="primary" type="checkbox" (click)="addOrder(order)" [checked]="isSelected(order)">
            </th>
            <td>{{order.orderDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{order.orderNumber}}</td>
            <td>{{order.itemName}}</td>
            <td>{{order.cost}}</td>
            <td>{{order.quantity}}</td>
            <td>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    {{order.quantity * order.cost | currency : '':'':'1.0-0'}} FBU
                    <div class="mb-icon mb-icon-green tick" *ngIf="order.paid"></div>
                </div>
            </td>
        </tr>
        <tr class="total">
            <td>{{'total' | uppercase}}</td>
            <td *ngIf="clientPage"></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{orders | calcTotal : 'quantity'}}</td>
            <td>{{orders | calcTotalCost | currency : '':'':'1.0-0'}} FBU</td>
        </tr>
    </mb-relation>
</div>