<div class="details-page category" *ngIf="($client | async) || true">
    <div class="attributes">
        <span class="mb-title" translate>label.details</span>
        <form class="attributes d-flex flex-wrap" [formGroup]="itemForm">
            <div class="input-grp">
                <label for="code" class="" translate>label.code</label>
                <input id="code" formControlName="code" type="text" class="input-text"
                       placeholder="{{'label.code' | translate}}"/>
            </div>
            <div class="input-grp">
                <label for="name" class="" translate>label.name</label>
                <input id="name" formControlName="name" type="text" class="input-text"
                       placeholder="{{'label.name' | translate}}"/>
            </div>
            <div class="input-grp">
                <label for="address" class="" translate>label.name</label>
                <input id="address" formControlName="address" type="text" class="input-text"
                       placeholder="{{'label.client.address' | translate}}"/>
            </div>
        </form>
    </div>
    <div class="relations orders">
        <div class="inventory-orders" *ngIf="$inventoryOrders | async as inventoryOrders">
            <mb-relation title="inventory.orders" [heads]="inventoryHeads">
                <tr *ngFor="let order of inventoryOrders">
                    <td>{{order.orderDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{order.orderNumber}}</td>
                    <td>{{order.itemName}}</td>
                    <td>{{order.cost}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.quantity * order.cost | currency : '':'':'1.0-0'}} FBU</td>
                </tr>
            </mb-relation>
        </div>
    </div>
</div>