<div class="details-page client" *ngIf="($client | async) || true">
    <div class="attributes">
        <span class="mb-title" translate>label.details</span>
        <form class="attributes d-flex flex-wrap" [formGroup]="itemForm">
            <div class="input-grp">
                <label for="code" class="" translate>label.code</label>
                <input id="code" formControlName="code" type="text" class="input-text"
                       placeholder="{{'label.code' | translate}}"/>
            </div>
            <div class="input-grp">
                <label for="name" class="" translate>label.name</label>
                <input id="name" formControlName="name" type="text" class="input-text"
                       placeholder="{{'label.name' | translate}}"/>
            </div>
            <div class="input-grp">
                <label for="address" class="" translate>label.client.address</label>
                <input id="address" formControlName="address" type="text" class="input-text"
                       placeholder="{{'label.client.address' | translate}}"/>
            </div>
        </form>
    </div>
    <ng-container *ngIf="$client | async as client">
        <div class="value">
            <div class="value-amount">
                <span class="me-5">DEBT</span>
                <span>{{client?.totalDebt || 0 | currency : '':'':'1.0-0'}}</span>
            </div>
            <h3 class="value-currency">FBU</h3>
        </div>
        <div class="relations orders">
            <mb-inventory-orders [orders]="$inventoryOrders" [clientPage]="true"></mb-inventory-orders>
            <div class="details-contract list">
                <span class="mb-title" translate>label.list.contract</span>
                <mb-rent-contract [isClientPage]="true" *ngFor="let contract of client?.contracts" [contract]="contract"/>
            </div>
        </div>
    </ng-container>
</div>