<div class="details-contract create">
    <span class="mb-title">{{'label.create.invoice' | translate}}</span>
    <form (ngSubmit)="createInvoice()" [formGroup]="invoiceForm">
        <div class="content-top">
            <div class="relative flex flex-col">
                <label for="invoicedate" class="text-gray-600 text-xs font-medium mb-[6px]">{{'label.invoice.date'| translate}}*</label>
                <input id="invoicedate" type="date" formControlName="dateCreated" class="input-date" min="2021-01-01" required>
            </div>
            <div class="relative flex flex-col">
                <label for="amount" class="text-gray-600 text-xs font-medium mb-[6px]">{{'label.amount'| translate}}*</label>
                <input id="amount" type="number" formControlName="amount" class="input-text" required>
            </div>
            <mb-input-drop-down
                    [relatedItem]="{name: 'payment.type', parentPage: ''}"
                    [$items]="paymentTypes"
                    [formDetails]="paymentForm"
            ></mb-input-drop-down>
            <div class="relative flex flex-col area">
                <label for="description" class="text-gray-600 text-xs font-medium mb-[6px]" translate>label.invoice.desc</label>
                <textarea id="description" type="text"
                       placeholder="{{'label.invoice.desc' | translate}}"
                          formControlName="description">
                </textarea>
            </div>

        </div>
        <div class="content-bottom">
            <div class="orders-chips">
                <div class="bg-light-green rounded-full w-fit flex items-center text-xs font-bold gap-2 px-2 h-[26px]" *ngFor="let order of orders">
                    {{order.orderNumber}} : {{order.cost*order.quantity | currency :'': '': '1.0-0'}}FBU
                    <a class="rounded h-[26px] flex items-center justify-center text-xs font-bold gap-2 px-2 mb-icon btn-close text-light" (click)="remove(order)"></a>
                </div>
            </div>
            <button class="bg-primary text-white rounded h-[26px] flex items-center justify-center text-xs font-bold gap-2 px-2" type="submit" translate>btn.name.create</button>
        </div>
    </form>
</div>

