<div class="invoice">
    <div class="flex flex-row justify-between border-b">
        <div class="flex gap-3 mb-3 ">
            <input id="invoiceCheck-{{invoice?.invoiceNumber}}" class="primary lg" type="checkbox" (click)="selectInvoice()" [checked]="isSelected()">
            <label for="invoiceCheck-{{invoice?.invoiceNumber}}" class="code font-bold "
                   translate>label.invoice.number<span>: {{invoice?.invoiceNumber}}</span></label>
        </div>
        <div class="controls flex flex-row justify-end">
            <a class="rounded h-[26px] flex items-center justify-center text-xs font-bold gap-2 px-2" translate *ngIf="false">
                <div class="mb-icon download"></div>
                label.download
            </a>
            <ng-container *ngIf="invoice?.orders?.length else noOrders">
                <a class="rounded flex items-center justify-center h-[26px] w-[26px]" [ngClass]="(showAll | async ) ? 'hidden': ''" (click)="expand()" translate>
                    <div class="mb-icon mb-icon-green expand"></div>
                </a>
                <a class="rounded flex items-center justify-center h-[26px] w-[26px]" [ngClass]="(showAll | async ) ? '': 'hidden'" (click)="shrink()" translate>
                    <div class="mb-icon mb-icon-green shrink"></div>
                </a>
            </ng-container>
            <ng-template #noOrders>
                <div>no orders</div>
            </ng-template>
        </div>
    </div>
    <div class="flex flex-col">
        <div class="details">
            <span class="amount">
            <label translate>label.amount</label>
            <span>{{invoice?.amount | currency : '': '': '1.0-0'}} FBU</span>
        </span>
            <div class="date-status">
            <span>
                <label translate>label.invoice.date</label>
                <span>{{invoice?.dateCreated | date: 'dd/MM/yyyy'}}</span>
            </span>
            </div>
            <span class="payment-type">
                <label translate>label.payment.type.name</label>
                <span>{{invoice?.paymentMode}}</span>
            </span>
        </div>
        <div class="details justify-start">
            <div class="flex flex-row" *ngIf="invoice?.description">
                <label translate>label.invoice.desc</label>
                <div>{{invoice?.description}}</div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="invoice?.orders?.length">
        <mb-orders [ngClass]="(showAll | async) ? 'active-card': 'hidden'"
                   [orders]="invoice?.orders || []"></mb-orders>
    </ng-container>
</div>

