<div class="title-cartbtn">
    <span class="mb-title">{{title | translate}}</span>
    <div>
        <a class="rounded flex items-center justify-center h-[26px] w-[26px]" [ngClass]="(creating | async ) ? 'hidden': ''" (click)="expand()" translate>
            <div class="mb-icon mb-icon-green expand"></div>
        </a>
        <a class="rounded flex items-center justify-center h-[26px] w-[26px]" [ngClass]="(creating | async ) ? '': 'hidden'" (click)="shrink()" translate>
            <div class="mb-icon mb-icon-green shrink"></div>
        </a>
    </div>
</div>