<mb-listing [heads] = "heads" *ngIf="($searchResult | async) || ($facilities | async) as facilities"
            (selectedAll)="selectAll(facilities)" [checkedAll] = "headerCheck">
    <tr *ngFor="let facility of facilities">
        <th scope="row">
            <input class="primary" type="checkbox"
                   [checked]="headerCheck || isSelected(facility)" (change)="selectionChanged(facility)">
        </th>
        <td [routerLink]="[facility.code]">{{facility.code}}</td>
        <td [routerLink]="[facility.code]">{{facility.alias}}</td>
        <td [routerLink]="[facility.code]">{{facility?.capital?.currentValue || 0 | currency : '':'':'1.0-0'}} FBU</td>
    </tr>
</mb-listing>